#preheader
{
    margin-top: 40px;
    width: 100%;
    font-size: 20px;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    color: #696969;
}

body {
    overflow-y: hidden;
    margin: 0;
    background-color: black;
}

#contentWrapper
{
    overflow-y: scroll;
    height: 100vh;
    overflow-x: hidden;
    perspective: 10px;
}


.sketchImage
{
    position: relative;
    top: -1000px;
    left: -300px;
    width: 300px;
    filter: grayscale() contrast(170%) blur(3px) drop-shadow(0 0px 0.2rem rgba(0, 0, 0, 0.294));
    transform: translateZ(-10px);
    /* filter: drop-shadow(0 0px 0.2rem rgba(0, 0, 0, 0.294)); */
}

.sketchImage:hover
{
    transition: all 0.05s ease;
    filter: grayscale(0%) blur(3px) drop-shadow(0 0px 0.2rem rgba(0, 0, 0, 0.294));
}

#background-wrapper
{
    position: absolute;
    width: 100vw;
    height: 100vh;
    transform-style: preserve-3d;
}

#logoTitle
{
    z-index: 3;
    width: 50vw;
    left: 25vw;
    margin-top: 50vh;
    filter: drop-shadow(0 10px 0.75rem rgba(0, 0, 0, 0.394));
    max-width: 400px;
}


#siteSelectorContainer
{
    margin-left: 10%;
    width: 80%;
    display: flex;
    justify-content: center;
    padding-top: 30px;
    flex-wrap: wrap;
}

.siteSelector
{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: black;
    font-weight: 500;
    margin: calc(1vw + 1vh);
    z-index: 5;
    filter: grayscale(100%);
    transition: all 0.05s ease;

}

.siteSelectorImage
{
    height: calc(4vw + 6vh);
    display: block;
    filter: drop-shadow(0 0px 0.4rem rgba(0, 0, 0, 0.294));
    padding-bottom: 20px;
    margin: auto;
}


.siteSelector:hover
{
    /* padding-top: 20px; */
    cursor: pointer;
    scale: 1.1;
    filter: grayscale(0%)

}

.siteSelectorImageContainer
{
    height: 120px;
}

#paperWrapper
{
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    transform: translateZ(-5px) scale(1.5);
    /* overflow-y: hidden; */
}

#paperLines
{
    z-index: -1;
    width: 100%;
    height: calc(100%); 
    position: absolute;
    top: 0;
    left: 0;
    filter: blur(3px);
}

#paperRedLine
{
    width: 3px;
    background-color: rgba(255, 0, 0, 0.361);
    position: absolute;
    height: calc(100% + 120px);
    top: 0px;
    left: 10vw;
}

#paperBlueLines
{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 120px;
    left: 0;
    background: repeating-linear-gradient(
    to bottom,
    #039ae55f 0px,
    #039ae55f 3px,
    #90caf900 3px,
    #90caf900 40px
  );
}

.endPaperRip
{
    position:absolute;
    width: 100vw;
    height: 200px;
    /* background-size: 300px; */
    
    top: calc(110vh - 80px);
    background-image: url("images/paperTile.png");
    background-position: left center;
    background-repeat: repeat-x;
    z-index: -2;
}

#endPaperRipMask
{
    background-image: url("images/paperTileMask.png");
    z-index: 1;
}

.paperImg
{
    width: 100%;
    height: 110%;
    position: absolute;
    z-index: -1;
    pointer-events: none;
    
}

#paperGradient
{
    height: calc(110% + 120px);
    z-index: 2;
    background: linear-gradient(to bottom right, rgba(245, 246, 252, 0), rgba(0, 0, 0, 0.202));
}

#paperTexture
{
    background-image: url("images/paperTexture.png");
    background-size: 150px 150px;
}

a {
    all: unset;
}

.siteSelectorText
{
    background-color: white;
    border-radius: 6px;
    padding: 6px;
    filter: drop-shadow(0 0px 0.2rem rgba(0, 0, 0, 0.294));
    width: fit-content;
    margin: auto;
    font-weight: 600;
}



/* GLITCH SECTION */

#glitchWrapper
{
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: calc(150vh + 200px);
    left: 0;
    transform: translateZ(-5px) scale(1.5);
    z-index: -2;
    overflow: hidden;
}

/* PINK SECTION */


#pinkWrapper
{
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: calc(300vh);
    left: 0;
    /* transform: translateZ(0px) scale(1.5); */
    z-index: 2;
    background-color: #fc76c1;
}

#blackBlendAlphaWidth
{
    content: '';
    position: absolute;
    top: 0px;
    width: 100vw;
    height: 150px;
    background: linear-gradient(to bottom, black 0%, transparent 100%);
    z-index: 5;
}

.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 1s, opacity 1s linear;
  }